<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LatihanActivity"
        tools:targetApi="31">
        <activity
            android:name=".LatihanLiveData"
            android:exported="false" />
        <activity
            android:name=".LatihanViewModel"
            android:exported="false" />
        <activity
            android:name=".ListQuotesActivity"
            android:exported="false" />
        <activity
            android:name=".LatihanNetworkingLoopJParsingJSON"
            android:exported="false" />
        <activity
            android:name=".LatihanAsynchronousBackgroundThread"
            android:exported="false" />
        <activity
            android:name=".MenuActivity"
            android:exported="false" />
        <activity
            android:name=".OptionMenuAppBar"
            android:exported="false" />
        <activity
            android:name=".NavigationGraph"
            android:exported="false" />
        <activity
            android:name=".ProfileActivityNavigation"
            android:exported="false" />
        <activity
            android:name=".LatihanNavigation"
            android:exported="false" />
        <activity
            android:name=".LatihanFragment"
            android:exported="false" />
        <activity
            android:name=".LatihanRecycleView"
            android:exported="false" />
        <activity
            android:name=".ConstraintLayout"
            android:exported="false" />
        <activity
            android:name=".LinearRealtiveFrameAndTableLayout"
            android:exported="false" />
        <activity
            android:name=".LatihanViewsAndViewGroup"
            android:exported="false" />
        <activity
            android:name=".MoveForResultActivity"
            android:exported="false" />
        <activity
            android:name=".MoveWithObjectActivity"
            android:exported="false" />
        <activity
            android:name=".MoveWithDataActivity"
            android:exported="false" />
        <activity
            android:name=".LatihanIntent"
            android:exported="false" />
        <activity
            android:name=".LatihanActivity"
            android:exported="false" />
        <activity
            android:name=".MoveActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>