<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LatihanActivity"
        tools:targetApi="31">
        <activity
            android:name=".background_task_and_scheduler.BackgroundTaskAndSchedulerActivity"
            android:exported="false" />

        <receiver
            android:name=".background_task_and_scheduler.broadcast_receiver.SmsReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".background_task_and_scheduler.broadcast_receiver.SmsReceiverActivity"
            android:exported="false"
            android:theme="@style/Theme.SmsReceiver.Dialog" />
        <activity
            android:name=".background_task_and_scheduler.broadcast_receiver.BroadcastReceiverActivity"
            android:exported="false" />
        <activity
            android:name=".local_data_persistent.data_sqlite.NoteAddUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".local_data_persistent.data_sqlite.DataSQLite"
            android:exported="false" />
        <activity
            android:name=".local_data_persistent.preferences_data_store.PreferencesDataStore"
            android:exported="false" />
        <activity
            android:name=".local_data_persistent.setting_shared_preferences.SharedPreferenceSettings"
            android:exported="false" />
        <activity
            android:name=".local_data_persistent.shared_preferences.FormUserPreferenceActivity"
            android:exported="false" />
        <activity
            android:name=".local_data_persistent.shared_preferences.SharedPreferencesStorage"
            android:exported="false" />
        <activity
            android:name=".local_data_persistent.LatihanLocalDataPersistent"
            android:exported="false" />
        <activity
            android:name=".networking_retrofit_api.ui.LatihanNetworkingRetrofit"
            android:exported="false" />
        <activity
            android:name=".live_data.LatihanLiveDataAPI"
            android:exported="false" />
        <activity
            android:name=".live_data.LatihanLiveData"
            android:exported="false" />
        <activity
            android:name=".view_model.LatihanViewModel"
            android:exported="false" />
        <activity
            android:name=".networking_loopj_parsing_json.ListQuotesActivity"
            android:exported="false" />
        <activity
            android:name=".networking_loopj_parsing_json.LatihanNetworkingLoopJParsingJSON"
            android:exported="false" />
        <activity
            android:name=".async_background_thread.LatihanAsynchronousBackgroundThread"
            android:exported="false" />
        <activity
            android:name=".MenuActivity"
            android:exported="false" />
        <activity
            android:name=".navigation.option_menu_bar.OptionMenuAppBar"
            android:exported="false" />
        <activity
            android:name=".navigation.navigation_graph.NavigationGraph"
            android:exported="false" />
        <activity
            android:name=".ProfileActivityNavigation"
            android:exported="false" />
        <activity
            android:name=".navigation.LatihanNavigation"
            android:exported="false" />
        <activity
            android:name=".fragment.LatihanFragment"
            android:exported="false" />
        <activity
            android:name=".recycle_view.LatihanRecycleView"
            android:exported="false" />
        <activity
            android:name=".views_and_view_group.ConstraintLayout"
            android:exported="false" />
        <activity
            android:name=".views_and_view_group.LinearRealtiveFrameAndTableLayout"
            android:exported="false" />
        <activity
            android:name=".views_and_view_group.LatihanViewsAndViewGroup"
            android:exported="false" />
        <activity
            android:name=".intent.MoveForResultActivity"
            android:exported="false" />
        <activity
            android:name=".intent.MoveWithObjectActivity"
            android:exported="false" />
        <activity
            android:name=".intent.MoveWithDataActivity"
            android:exported="false" />
        <activity
            android:name=".intent.LatihanIntent"
            android:exported="false" />
        <activity
            android:name=".activity.LatihanActivity"
            android:exported="false" />
        <activity
            android:name=".intent.MoveActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>